html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Щоб уникнути зайвих скролів */
}

/* Якщо у вас є div, в якому розміщено ваш App компонент, йому теж потрібна висота */
#root > div {
  /* Це може знадобитися, якщо ваш App компонент обгорнутий у div */
  height: 100%;
}
